{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'includes/Herosection.html' %}
    {% include 'includes/About.html' %}
    {% include 'includes/Client.html' %}
    {% include 'includes/Insurance.html' %}
    {% include 'includes/claims.html' %}
    {% include 'includes/testimonial.html' %}
    {% include 'includes/Why-us.html' %}
    {% include 'includes/logo.html' %}
    {% include 'includes/certificate.html' %}
    {% include 'includes/contact.html' %}
    {% comment %} {% include 'includes/Timeline.html' %} {% endcomment %}

{% endblock %}

